/* body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
 */

 html,
 body {
   margin: 0;
   padding: 0;
   background: #97c0c3;
 }
 
 .background {
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   z-index: 0;
 }

body {
    background: #97c0c3;
}
#container {
    opacity: 40%;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-53%, -60%);
    &.fin {
        .path-1, .path-2, .path-3 {
            stroke-dashoffset: 0;
        }
        .path-4 {
            stroke-width: 18px;
        }
    }
}
.path {
    fill: none;
    stroke: #362f3c;
    stroke-width: 18px;
    stroke-linecap: round;
    stroke-linejoin: round;
}
.path-1 {
  stroke-dasharray: 1850 2000;
  stroke-dashoffset: 1851;
  transition: 10s linear;
}
.path-2 {
  stroke-dasharray: 260 1000;
  stroke-dashoffset: 261;
  transition: 2.4s linear 10.4s;
}
.path-3 {
  stroke-dasharray: 100 1000;
  stroke-dashoffset: 101;
  transition: 2s linear 13s;
}
.path-4 {
  stroke-width: 0;
  transition: 0.2s linear 15s;
}